* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #ffffff, #e5e5e5, #cccccc, #b3b3b3, #9b9b9b);
}

/*#navbare.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    padding: 8px 6px;
    transition: background-color 0.8s ease;
}


#navbare.scrolled {
    background-color:rgba(85, 85, 85);
    height: 80px;
    opacity: 0S;
    
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}

.nav-link ul li a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar img {
    width: 350px;
    padding: 10px;
}

.dropdown-item {
    position: relative;
    right: 2px;
}

.nav-link > ul > li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #892935;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link > ul > li:hover::after {
    width: 100%;
}

.nav-link > ul > li.dropdown::after {
    content: none;
}

.btnCall {
    position: relative;
    right: 100px;
    bottom: 5px;
    background-color: #ca3a4d;
    border: 2px solid #892935;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
    color: #ffffff;
}

.btnCall:hover {
    background-color: #892935;
    transition: 0.5s;
    border: 2px solid #ca3a4d;
    
}

.content-and-user {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 6%;
}

.content {
    width: 70%;
    position: relative;
    top: 80px;
    left: 50px;
    cursor: pointer;

}

.user {
    width: 30%;
    margin-top: 10px;
}

.user img {
    width: 350px;
    border-radius: 50%;
    box-shadow:20px 20px 30px #000;
}

.tripyng{
    font-size: 60px;
}
.fristline2{
    color: #892935;
}

.content p{
    font-size: 35px;
}
.content .f{
    color: #892935;
}
.btnMore{
    padding: 5px 15px 5px 15px;
    background-color: transparent;
    border: 2px solid #892935;
    font-size: 20px;
    margin-right: 80px;

    border-radius: 20px;
}
.btnContact{
    padding: 5px 30px 5px 30px;
    background-color: #ca3a4d;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid #892935;
    border-radius: 20px;
}

.btnMore:hover{
    background-color: #ca3a4d;
    color: #ffffff;
    box-shadow: 5px 5px 15px black;
}
.btnContact:hover{
    background-color: transparent;
    color: black;
    box-shadow: 5px 5px 15px black;
}
  


/* Alte stiluri */

.bar {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    overflow: hidden;
    white-space: nowrap;
}

.bar .fa-solid {
    color: #892935;
    font-size: 15px;
    position: relative;
    bottom: 5px;
}

.bar .text {
    color: #ffffff;
    display: inline-block;
    margin: 2px;
    font-size: 23px;
    text-align: center;
    padding: 10px;
    animation: my-animation 10s linear forwards ;
}

@keyframes my-animation {
    0%, 10% {
        opacity: 0;
        transform: translateX(0%);
    }

    20%, 30% {
        opacity: 1;
        transform: translateX(0%);
    }

   
}

/*servis*/
#servis{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    background-color: #ffffff;
}
#servis h1{
   font-size: 50px;
   margin-top: -10px;
   display: inline-block;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#servis p{
    padding-top: 0px;
    font-size: 25px;
    
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin-top: 50px;
    
}


.col {
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    
    margin-right: 10px;
}


.btnvezi{
    margin-top: 50px;
    margin-bottom: 50px;   
    background-color: #ca3a4d;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #892935;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
.btnvezi:hover{
    background-color: transparent;
    color: black;
    box-shadow: 5px 5px 15px black;
 
}
#portofoliu{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #ffffff, #e5e5e5, #cccccc, #b3b3b3, #9b9b9b); 

}
#portofoliu .col i{
    font-size: 30px;
    margin-bottom:  30px;
    position: relative;
    right: 100px;

}
#portofoliu .col{
    margin: 20px;
}
#portofoliu .col h3{
    font-size: 30px;
}
#portofoliu .col p{
    font-size: 15px;
}
.container_skill{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container_skill .progress-container{
    margin-bottom: 25px;
}
.container_skill .progress-bar h4{
    margin: 0 0 15px 15px;
    letter-spacing:  .5px;
}

.container_skill .progress-container .progress-bar{
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px  6px 8px rgba(0,0,0,.7);
}
.container_skill .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(to right,#892935 ,#ca3a4d );
transition: width .5s linear;
}

.logo-container {
    text-align: center;
  }
  .logo-container img {
    height: 10rem;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }





